#server
DEBUG_PORT=8000
TIMEZONE=America/Sao_Paulo

#rabbitmq
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_STREAM_PORT=5552
RABBITMQ_CLIENT_WEB_PORT=15672
RABBITMQ_USERNAME=root
RABBITMQ_PASSWORD=root

#database
DB_HOST=database
DB_PORT=27017
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=root
DB_URI=mongodb://root:root@database:27017/streams_mvp